:root {
    font-family: Arial, sans-serif !important;
}

body {
    font-family: Arial, sans-serif !important;
}

table {
    border:1px solid #ddd;
}

.center {
    text-align: center;
}

.btn {
    padding: 10px;
    margin: 10px;
    border-bottom: 3px solid #777;
}

.btn-search {
    background-color: #C4D000;
}

.highlight {
    color: #6d841c !important;
    font-weight: bold;
}

.btn-highlight {
    background-color: #C3CF00 !important;
    color: #768800 !important;
    border-bottom: 3px solid #768800 !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-weight: bold;
    font-size: 12px;
}

.nowrap {
    white-space: nowrap;
}

.promo {
    background-color: #FFEEDE !important;
}

.table {
    background-color: #fff !important;
}

.card {
    border: 0 !important;
}
